
    body {
      font-family: "Montserrat";
      text-align: center;
    }

    h1, h2, h3, h4, h5, h6 {
      font-family: "Montserrat";
      font-weight: 900;
    }

    p {
      color: #8f8f8f;
    }

    .navbar {
      padding-bottom: 4.5rem;
      padding-right: 0;
      padding-left: 0;
    }

    .navbar-brand {
      font-family: "Ubuntu";
      font-size: 2.5rem;
      font-weight: bold;
    }

    .nav-item {
      padding: 0 15px;
    }

    .nav-link {
      font-family: "Montserrat";
    }


    .container-fluid {
      padding: 7% 15%;
    }
    .colored-section{
      background-color: #ff4c68;
      color: #fff;
    }
    .white-section{
      background-color: #fff;
    }

    #title {
      text-align: left;
    }

    #title .container-fluid {
      padding: 3% 15% 7%;
    }

    .title-image {
      width: 60%;
      transform: rotate(25deg);
      position: absolute;
      right: 20%;
    }

    .big-heading {
      font-size: 3.5rem;
      line-height: 1.5;
    }

    .download-button {
      margin: 5% 3% 5% 0;
    }


    #features {
      position: relative;
      z-index: 1;
    }

    .feature-title {
      font-weight: bold;
      font-size: 1.5rem;
    }

    .feature-box {
      width: 80%;
    }


    .icon {
      color: #ef8172;
      margin-bottom: 5%;
    }

    .icon:hover {
      color: #ff4c68;
    }


    #testimonials {
      background-color: #ef8172;

      font-family: "Montserrat";
      font-weight: 900;
    }

    .testimonial-text {
      font-size: 3rem;
      line-height: 1.5;
    }

    .testimonial-img {
      width: 10%;
      border-radius: 50%;
      margin: 20px;
    }


    #press {
      background-color: #ef8172;
      padding-bottom: 3%;
    }

    .press-img {
      width: 15%;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 50px;
    }


    #pricing {
      padding: 100px;
    }

    .pricing-column {
      padding: 3% 2%;
    }

    .pricing-text {
      font-size: 3rem;
      line-height: 1.5;
    }

    .pricing-breed {
      font-weight: bold;
      font-size: 1.5rem;
    }

    .foot-icon {
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 15px;
    }

    .foot-para {
      font-family: "Montserrat";
      font-weight: normal;
    }

    @media (max-width: 1024px) {
      #title {
        text-align: center;


      .title-image {
        position: static;
        transform: rotate(0);
      }
    }
