*{
	padding: 0;
	margin: 0;
}

body{
	background:#c68c53a8;
	font-family: 'Architects Daughter', cursive;
	font-size: 24px;
}
#preloader{
	position: fixed;
	width:100%;
	height: 100vh;
	background: black url(https://media.giphy.com/media/VseXvvxwowwCc/giphy.gif) no-repeat center;
	z-index: 1001;
}
header{
	padding-top: 7px;
	padding-bottom: 7px;
	background-color: rgba(177, 121, 65, 0.7);
}
.main-container{
	width:95%;
	margin:auto;
}
.container1{
	margin-left: 5%;
	margin-right: 5%;
}
#instructionList{
	display: none;
	background-color: rgba(228, 163, 99, 0.7);
	padding-left: 7%;
	padding-top: 7px;
}
.container2{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin-top: 20px;
	margin-left: 5%;
}

.container3{
	display:none;
	position: absolute;
	top:26%;
	left: 40%;
}

textarea{
	box-shadow: 10px 10px 24px 0px rgba(0,0,0,.75);
	outline: none;
	border: none;
	width: 275px;
	height: 275px;
	padding:40px 25px 25px 25px;
}

svg{
	color:gray;
}

#check-icon{
	position: absolute;
	right: 17%;
	top: 4%;
}
#x-icon{
	position: absolute;
	right:5%;
	top: 4%;
}